* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  background-image: linear-gradient(
    to right top,
    #0d0f12,
    #111b2a,
    #142643,
    #1c2f5d,
    #688094,
    #9DA0A4
  );
  border: 25px double rgba(51, 99, 131, 0.52);
  border-radius: 8px;
  min-height: 100vh;
}
